.ico{
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.35s ease-in-out;
}

.ico-lecteur{content: url("../assets/svg/video-lecteur.svg");}

.ico-arrow-left{content: url("../assets/svg/arrow-prev-small.svg");}

.ico-arrow-right{content: url("../assets/svg/arrow-next-small.svg");}

.ico-spectre{content: url("../assets/svg/spectre.svg");}